.c_tag {
    background: var(--couleur_fond_quaternaire);

    width: 115px;
    height: 25px;
    border-radius: 10px;
    text-align: center;

    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 150%;
    /* 142.6%; */
}

.c_tag__texte {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--couleur_texte_secondaire);
}

/* ------- MEDIA QUERIES --------------------------------------------------------------- */
@media screen and (max-width: 768px) {

    .c_tag {
        width: 84px;
        height: 18px;
        border-radius: 5px;
    }

    .c_tag__texte {
        font-size: 10px;
    }
}