.c_div__erreur {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.c_div__erreur h1 {
    color: red;
    font-weight: 700;
    font-size: 96px;

}

.c_div__erreur p {
    margin-top: 50px;
    font-size: 18px;
    color: red;
    font-weight: 500;
  }