.c_banner {
    position: relative;
    height: 223px;
    border-radius: 25px;

    margin: 20px 0;
}

.c_banner img {
    border-radius: 25px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.c_banner p {
    position: absolute;
    top: 0;
    font-size: 48px;
    color: var(--couleur_texte_secondaire);
    font-weight: 500;
    margin: 0;
    padding-left: 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

/* ------- MEDIA QUERIES --------------------------------------------------------------- */
@media screen and (max-width: 768px) {
    .c_banner {
        height: 111px;
        border-radius: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .c_banner img {
        border-radius: 10px;
    }

    .c_banner p {
        font-size: 24px;
        justify-content: left;
    }
}